# ------------------------------------
# Core settings
# ------------------------------------

hal.http_port=8080

# ------------------------------------------------------------------------
# Plugin configurations
# ------------------------------------------------------------------------

# ------------------------------------
# Sensors and Events
# ------------------------------------

## Tellstick plugin
#tellstick.com_port=COM5
#tellstick.com_port=/dev/serial/by-id/usb-Telldus_TellStick_Duo_A6XNNE6Z-if00-port0

## NetUPS plugin
#nutups.host=
#nutups.port=

## NetScan plugin
# Network scanning should probably be disabled in some networks (default on)
#netscan.ipscan=false

## Zigbee plugin
#zigbee.com_port=COM4

## ZWave plugin
#zwave.com_port=COM4

## Power Challenge Plugin
powerchallenge.sync_port=6666

# ------------------------------------
# Assistants
# ------------------------------------

## Google Assistant
assistant.google.port=8081
assistant.google.client_id=https://oauth-redirect.googleusercontent.com/r/optimal-comfort-XXXXX
