# ------------------------------------
# Core settings
# ------------------------------------

hal_core.http_port=8080

# ------------------------------------------------------------------------
# Plugin configurations
# ------------------------------------------------------------------------

# ------------------------------------
# Sensors and Events
# ------------------------------------

## Tellstick plugin
#hal_tellstick.com_port=COM5
#hal_tellstick.com_port=/dev/serial/by-id/usb-Telldus_TellStick_Duo_A6XNNE6Z-if00-port0

## NetUPS plugin
#hal_nutups.host=
#hal_nutups.port=

## NetScan plugin
# Network scanning should probably be disabled in some networks (default on)
#hal_netscan.ipscan=false

## Zigbee plugin
#hal_zigbee.com_port=COM4
#hal_zigbee.dongle=CC2531|CONBEE|XBEE

## ZWave plugin
#hal_zwave.com_port=COM4

## Power Challenge Plugin
hal_powerchallenge.sync_port=6666

# ------------------------------------
# Assistants
# ------------------------------------

## Google Assistant
hal_assistant.google.port=8081
hal_assistant.google.client_id=https://oauth-redirect.googleusercontent.com/r/optimal-comfort-XXXXX
