# ------------------------------------
# Core settings
# ------------------------------------

hal_core.http_port=8080

# External HTTP server requires SSL certificate which is provided by letsencrypt, for the authentication
# to letsencrypt to work port 80 needs to be opened temporarily during the certificate generation process
# make sure the firewall forwarding rules are setup for this process to work.
# In the future DNS authentication will also be available so no port forwarding will be necessary.
#hal_core.http_external_cert=acme_http|acme_dns|none
#hal_core.http_external_port=8081
#hal_core.http_external_domain=example.com

# ------------------------------------------------------------------------
# Plugin configurations
# ------------------------------------------------------------------------

# ------------------------------------
# Sensors and Events
# ------------------------------------

## Tellstick plugin
#hal_tellstick.com_port=COM5|/dev/serial/by-id/usb-Telldus_TellStick_Duo_A6XNNE6Z-if00-port0

## NetUPS plugin
#hal_nutups.host=
#hal_nutups.port=

## Zigbee plugin
#hal_zigbee.com_port=COM4
#hal_zigbee.dongle=CC2531|CONBEE|XBEE

## ZWave plugin
#hal_zwave.com_port=COM4

## Power Challenge Plugin
hal_powerchallenge.sync_port=6666

# ------------------------------------
# Assistants
# ------------------------------------

## Google Assistant
hal_assistant.google.client_id=https://oauth-redirect.googleusercontent.com/r/optimal-comfort-XXXXX
