<h1 class="page-header">Details for <a href="#">{{camera.getName()}}</a></h1>

<style>
    #view-main {
        width: 100%;
        height: 480px;
    }
</style>

<div class="col-md-12">
    <video id="view-main" width="100%" height="480" class="video-js vjs-fill" preload="auto" data-setup='{}' controls autoplay muted >
        <source src="{{camera.getPlaylistRelativeUrl()}}">
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video.</a>
        </p>
    </video>
</div>

<div class="col-md-5">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Configuration</div>
        <div class="panel-body">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th class="text-right">Camera ID:</th>
                    <th>{{camera.getId()}}</th>
                </tr>
                <tr>
                    <th class="text-right">Name:</th>
                    <th>{{camera.getName()}}</th>
                </tr>
                </thead>
                <tr>
                    <th class="text-right">Type:</th>
                    <td>{{camera.getDeviceConfig().getClass().getSimpleName()}}</td>
                </tr>
                <tr>
                    <th class="text-right">Owner:</th>
                    <td>{{camera.getUser().getUsername()}} <p></td>
                </tr>
                {{#camera.getDeviceConfigurator().getConfiguration()}}
                <tr>
                    <th class="text-right">{{.getNiceName()}}:</th>
                    <td>{{.getString()}}</td>
                </tr>
                {{/camera.getDeviceConfigurator().getConfiguration()}}
            </table>
        </div>
    </div>
</div>

<link href="css/video-js.min.css" rel="stylesheet">
<script src="js/lib/video.min.js"></script>
<script src="js/lib/videojs-http-streaming.min.js"></script>