<h1 class="page-header">Camera Monitor</h1>

<style>
    .monitor-view {
        padding: 0px;
        line-height: 0px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="monitor-view col-md-6">
            <video width="100%" height="480" controls>
                <source src="rtsp://admin:xxxx@192.168.10.223:554/H.264">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="monitor-view col-md-6">
            <video width="100%" height="480" controls>
                <source src="rtsp://admin:xxxx@192.168.10.223:554/H.264">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="row">
        <div class="monitor-view col-md-6">
            <video width="100%" height="480" controls>
                <source src="rtsp://admin:xxxx@192.168.10.223:554/H.264">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="monitor-view col-md-6">
            <video width="100%" height="480" controls>
                <source src="rtsp://admin:xxx@192.168.10.223:554/H.264">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>