<h1 class="page-header">Hal Properties</h1>

<div class="col-md-12">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Registered properties</div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <thead>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-6">Value</th>
                    <th class="col-md-4">Description</th>
                </thead>
                {{#properties}}
                <tr>
                    <td>{{.getKey()}}:</td>
                    <td><input name="{{.getKey()}}" value="{{.getValue()}}" disabled style="width: 100%"></td>
                    <td></td>
                </tr>
                {{/properties}}
            </table>
        </div>
    </div>
</div>