<h1 class="page-header">Event Overview</h1>

<div class="col-md-12">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Local Events</div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <thead>
                    <th class="col-md-5">Name</th>
                    <th class="col-md-3">Data</th>
                    <th class="col-md-3">Last Update</th>
                    <th class="col-md-1">Actions</th>
                </thead>
                {{#events}}
                <tr>
                    <td><a href="?id={{.getId()}}">{{.getName()}}</a></td>
                    <td>{{.getData()}}</td>
                    <td>updated 1 min ago</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="action" value="-">
                            <input type="hidden" name="id" value="{{.getId()}}">

                            <div class="btn-toolbar pull-right">
                                <button type="submit" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                {{/events}}
            </table>
        </div>
    </div>
</div>
