<h1 class="page-header">Plugins</h1>

<div class="col-md-12">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Plugin Administration</div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <thead>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-1">Version</th>
                    <th class="col-md-7">Description</th>
                    <th class="col-md-1 text-right">Enable</th>
                </thead>
                {{#plugins}}
                <tr>
                    <td>{{.getName()}}</td>
                    <td>{{.getVersion()}}</td>
                    <td>{{#.getDescription()}}{{.getDescription()}}{{/.getDescription()}}</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="action" value="plugin_enable">
                            <input type="hidden" name="plugin_name" value="{{.getName()}}">

                            <div class="btn-toolbar pull-right">
                                <input class="toggle-switch" type="checkbox" name="enabled"
                                       data-size="mini"
                                       {{#.isEnabled()}}checked{{/.isEnabled()}} >
                            </div>
                        </form>
                    </td>
                </tr>
                {{/plugins}}
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Active Controllers</div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <thead>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-1 text-right">Actions</th>
                </thead>
                {{#controllers}}
                <tr>
                    <td>{{.getClass().getName()}}</td>
                    <td>
                        {{#.isScannable()}}
                        <div class="btn-toolbar pull-right">
                            <form method="POST">
                                <input type="hidden" name="action" value="controller_scan">
                                <input type="hidden" name="controller" value="{{.getClass().getName()}}">

                                {{#.isScanning()}}
                                <button type="submit" class="btn btn-primary btn-xs" style="padding: 1px 20px;" disabled>
                                    <span class="glyphicon glyphicon-refresh anim-spin"></span>
                                </button>
                                {{/.isScanning()}}
                                {{^.isScanning()}}
                                <button type="submit" class="btn btn-primary btn-xs" style="padding: 1px 20px;">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                {{/.isScanning()}}
                            </form>
                            {{/.isScannable()}}
                        </div>
                    </td>
                </tr>
                {{/controllers}}
            </table>
        </div>
    </div>
</div>

<script>
    $(function (){
        $(".toggle-switch").on("switchChange.bootstrapSwitch", function (event, state) {
            $(this).closest('form').submit();
        });
    });
</script>