<h1 class="page-header">Plugins</h1>

<div class="col-md-12">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Active plugins</div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <thead>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-1">Version</th>
                    <th class="col-md-7">Description</th>
                    <th class="col-md-1 text-right">Actions</th>
                </thead>
                {{#plugins}}
                <tr>
                    <td>{{.getName()}}</td>
                    <td>{{.getVersion()}}</td>
                    <td>{{.getDescription()}}</td>
                    <td>
                        <form method="POST">
                            <input type="hidden" name="action" value="modify">
                            <input type="hidden" name="action_id" value="{{.getName()}}">

                            <div class="btn-toolbar pull-right">
                                <input class="toggle-switch" type="checkbox" name="enabled"
                                       data-size="mini" data-on-color="danger"
                                       {{#.isEnabled()}}checked{{/.isEnabled()}} >
                            </div>
                        </form>
                    </td>
                </tr>
                {{/plugins}}
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default drop-shadow">
        <div class="panel-heading">Active Controllers</div>
        <div class="panel-body">

            <table class="table table-hover table-condensed">
                <thead>
                    <th class="col-md-3">Name</th>
                </thead>
                {{#controllers}}
                <tr>
                    <td>{{.getClass().getName()}}</td>
                </tr>
                {{/controllers}}
            </table>
        </div>
    </div>
</div>

<script>
    $(function (){
        $(".toggle-switch").on("switchChange.bootstrapSwitch", function (event, state) {
            $(this).closest('form').submit();
        });
    });
</script>