<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3">
    <title>HAL is initializing...</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/hal.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 10%;">
                <span style="font-size: 8em">
                    <span class="glyphicon glyphicon-record" style="color:red; top: 15px;"></span>
                    <b>HAL</b>
                </span>
                <span style="font-size: 2em">is initializing...</span>
            </div>
        </div>
    </div>
</body>
</html>